<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/ico2.ico" type="image/x-icon">
    <title>Dinheirinho</title>
</head>

<body>
    {{#if message}}
    <h4 class="alert alert-success mt-4">{{message}}</h4>
    {{/if}}

    <div class="container" style="background-color: rgba(209, 74, 74, 0); font-family: ;">
        <!--<div class="row justify-content-md-center" style="background-color: blueviolet; padding-top: 50px;"> -->

        <div class="col-md-auto" style="background-color: rgba(0, 0, 255, 0);">
            <div class="row" style="background-color: rgba(179, 47, 47, 0); margin-top: 4%; ">


                <div class="col"
                    style="background-color: #77AF51; padding-top: 9%; padding-bottom: 5%;  padding-right: 8%; padding-left: 8%; margin-left: 100px; border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                    <div>
                        <h1 style="color: rgb(255, 255, 255); font-size: 25px; font-weight: 600;">Faça login no
                            dinheirinho</h1>
                    </div>

                    <div class="icones-area-cadastro"
                        style="background-color: rgba(205, 92, 209, 0); padding: 10px; display: flex; justify-content: center;">
                        <div class="botao-facebook">
                            <img src="/images/facebook-button.png"
                                style="width: 40px; height: 40px; background-color: rgba(0, 0, 255, 0); margin-right: 10px;"
                                alt="">
                        </div>
                        <div class="botao-google">
                            <img src="/images/google-button.png"
                                style="width: 40px; height: 40px; background-color: rgba(137, 43, 226, 0); margin-left: 10px;"
                                alt="">
                        </div>
                    </div>
                    <p class="h6"
                        style="text-align: center; color: rgb(255, 255, 255); margin-top: 20px; margin-bottom: 30px;">Ou
                        registre-se
                        usando o email</p>
                    <form action="/auth/login" method="POST">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="background-color: white;"><img
                                        src="/images/email.png" alt="" style="height: 15px; height: 15px;"></span>
                            </div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                aria-label="Email" aria-describedby="basic-addon1" style="border-left: 0px;">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="background-color: white;"><img
                                        src="/images/cadeado.png" alt="" style="height: 20px; height: 20px;"></span>
                            </div>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1"
                                style="border-left: 0px;">
                        </div>
                        <div>
                            <a href="/recuperaSenha">
                                <p style="font-size: 15px; margin-top: -10px; color:blue;">Recuperar senha</p>
                            </a>
                        </div>


                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1" style="color: white;">Manter
                                logado</label>
                        </div>

                        <!-- 
                            messageEmptyField
                            messageErrorEmailPassword
                        -->

                        {{#if messageRegisterSuccessfull}}
                        <h4 class="alert alert-success mt-4" style="font-size: 15px; text-align:center">
                            {{messageRegisterSuccessfull}}</h4>
                        {{/if}}

                        {{#if messageEmptyField}}
                        <h4 class="alert alert-danger mt-4" style="font-size: 15px; text-align:center">
                            {{messageEmptyField}}</h4>
                        {{/if}}

                        {{#if messageErrorEmailPassword}}
                        <h4 class="alert alert-danger mt-4" style="font-size: 15px; text-align:center">
                            {{messageErrorEmailPassword}}</h4>
                        {{/if}}

                        {{#if messageResetPassword}}
                        <h4 class="alert alert-success mt-4" style="font-size: 15px; text-align:center">
                            {{messageResetPassword}}</h4>
                        {{/if}}


                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                const inputElement = document.getElementById('email');

                                inputElement.addEventListener('click', function () {
                                    const messageElement = document.querySelector('.alert.alert-success');
                                    if (messageElement) {
                                        messageElement.style.display = 'none';
                                    }
                                });
                            });
                        </script>



                        <div class="botao">
                            <button type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                    </form>
                </div>


                <div class="col"
                    style="background-color: #ffffff; padding-top: 8%; padding-left: 50px; padding-right: 50px; padding-bottom: 60px; margin-right: 100px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">

                    <div class="area-login">
                        <img src="/images/logo-dinheirinho.png" alt="teste">
                        <p style="padding-top: 5px;">Finanças pessoais</p>
                        <h1 style="padding-top: 25px; font-size: 20px; font-weight: 600;">Ainda não tem uma conta?</h1>
                        <p style="padding-top: 10px;">Cuide bem do seu dinheirinho</p>
                        <div class="botao-registre">
                            <a href="/"><button type="submit" class="btn btn-primary"
                                    style="margin-top: 30px;">REGISTRE-SE</button></a>
                        </div>
                    </div>




                </div>
            </div>
        </div>

        <!--</div> -->

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>